<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Egg</title>
  <link rel="icon" href="favicon.ico" type="image/favicon" />
</head>

<body>
    <h1 style="font-size: 69px; margin: 0;">I'VE PLAYED THESE GAMES BEFORE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <img src="images/squid.jpeg" alt="Cornell Portfolio Management Club Logo" class="member-pic" style="width: 500px; height: 500px;"/>
    <img src="images/prnl.jpg" alt="Cornell Portfolio Management Club Logo" class="member-pic" style="width: 500px"/>

</body>

</html>